* {
    box-sizing: border-box;
}

:root {
    --heading-font: "PT Sans", sans-serif;
    --black: #000;
    --white: #fff;
    --primary: #b80257;
    --secondary: #783df0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    line-height: 1.3;
    font-family: "Source Sans 3", sans-serif;
}

a {
    color: inherit;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: none;
}

.container {
    max-width: 100%;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 165px;
    height: 33px;
    object-fit: cover;
}

/* ========== start header wrapper ========== */

.header-wrapper {
    min-height: 496px;
    background-image: url(../img/bg-banner-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.header-wrapper .inner {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.header-content {
    flex-grow: 1;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar {
    display: flex;
}

.navbar > li > a {
    padding: 20px 25px;
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}

.navbar li {
    position: relative;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 55px;
    min-width: 220px;
    background: white;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 0);
    transform-origin: 100% 0%;
    transition-property: visibility, opacity, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.navbar li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.sub-menu a {
    display: flex;
    text-decoration: none;
    height: 44px;
    padding: 0 25px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, color 0.3s;
    transition-timing-function: ease-in-out;
}

.sub-menu span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.sub-menu a:hover {
    color: var(--white);
    background: var(--primary);
}

.sub-menu a:hover span {
    transform: translateX(4px);
}

.action-wrapper {
    display: flex;
    gap: 20px;
}

.action-btn {
    font-size: 2rem;
    color: var(--white);
}

h1.heading {
    font-size: 3.2rem;
}

.breadcrumb {
    display: flex;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: #fffc;
}

.breadcrumb a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.breadcrumb a:hover {
    color: var(--secondary);
}

.breadcrumb li + li::before {
    content: "/";
    margin: 0 6px;
}

/* ========== end header wrapper ========== */

/* ========== start main ========== */

.main {
    margin-top: 110px;
}

.main .inner {
    display: flex;
    gap: 30px;
}

/* start sidebar */

.sidebar {
    width: 270px;
}

.search-form {
    border-radius: 20px;
    border: 1px solid #00000017;
    height: 43px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 20px;
}

.search-input:not(:placeholder-shown) + .search-btn {
    color: #333;
}

.search-btn {
    padding: 0 20px;
    align-self: stretch;
    color: #00000080;
}

.menu-title {
    margin-top: 30px;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.8);
}

.menu {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.menu li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.menu a {
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.3s ease-in-out;
}

.menu span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.menu a:hover span {
    transform: translateX(8px);
}

.menu a:hover {
    color: var(--secondary);
}

/* end sidebar */

.main-content {
    flex: 1;
}

/* start topics */

.topics {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.topics a {
    display: inline-block;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.topics .active a,
.topics a:hover {
    background: var(--secondary);
    color: var(--white);
}

/* end topics */

/* start courses list */

.course-list {
    --columns: 3;
    --gap: 30px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.course-item {
    border: 1px solid #eeeeee;
    width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
    display: flex;
    flex-direction: column;
}

.thumb-wrapper {
    display: block;
    aspect-ratio: 1 / 0.8;
    overflow: hidden;
    position: relative;
}

.course-thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: opacity, transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

.course-item:nth-of-type(3n + 2) .thumb-wrapper::before {
    content: "\e0b7";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    text-align: center;
    font-size: 2.2rem;
    background-color: var(--primary);
    color: var(--white);
    width: 140px;
    height: 70px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: -32px;
    right: -60px;
    z-index: 10;
    transform: rotate(35deg);
    padding-bottom: 3px;
}

.course-thumb:hover {
    opacity: 0.8;
    transform: scale3D(1.1, 1.1, 1);
}

.course-info {
    padding: 15px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.course-title {
    font-size: 1.8rem;
    color: #464646;
    transition: color 0.3s ease-in-out;
}

.course-title a {
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.course-title a:hover {
    color: var(--primary);
}

.course-desc {
    margin: 20px 0;
}

.course-bottom {
    display: flex;
    gap: 15px;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: auto;
}

.course-bottom div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.course-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.course-btn {
    background-color: var(--primary);
    font-weight: 700;
    color: var(--white);
    height: 32px;
    line-height: 32px;
    border-radius: 30px;
    padding: 0 8px;
    min-width: 66px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.course-btn::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    height: 10px;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    opacity: 0;
    transform: scale(0.8);
}

.course-btn:hover {
    transform: translateY(-5px);
}

.course-btn:hover::before {
    transform: translateY(5px);
    opacity: 1;
}

.course-btn-free {
    background-color: var(--secondary);
    font-weight: normal;
}
/* end courses list */

/* start courses pagination */

.course-pagination {
    margin-top: 75px;
    display: flex;
}

.course-pagination a {
    display: block;
    text-decoration: none;
    min-width: 29px;
    padding: 0 6px;
    line-height: 27px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-right: 8px;
    transition-property: color, border;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

a.active-page,
.course-pagination a:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.course-pagination li:last-child a {
    min-width: 58px;
    color: var(--white);
    background: var(--secondary);
    border: 1px solid var(--secondary);
    margin-left: 10px;
}
/* end courses pagination */

/* ========== end main ========== */

/*==========  start footer ========== */

.footer {
    margin-top: 100px;
    background: #151515;
    padding: 80px 0 160px 0;
    color: rgba(255, 255, 255, 0.6);
}

.footer .inner {
    display: flex;
    gap: 30px;
}

.column-w270 {
    width: 270px;
}

.footer-logo {
    font-size: 1.4rem;
    line-height: 1.6;
}

.footer-logo .footer-desc {
    margin: 20px 0;
}

.footer-logo ul {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo ul img {
    display: block;
    width: 118px;
    height: 38px;
    object-fit: cover;
    border-radius: 5px;
}

.footer h4 {
    font-size: 2rem;
    margin: 8px 0 25px;
    color: var(--white);
}

.footer-list-wrapper {
    flex-grow: 1;
    display: flex;
    gap: 30px;
}

.footer-list {
    flex: 1;
}

.footer-list a {
    display: flex;
    align-items: center;
    height: 30px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-list a:hover {
    color: var(--primary);
}

.send-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.send-input {
    border-radius: 20px;
    background: #272727;
    height: 40px;
    border: none;
    outline: none;
    padding: 20px;
}

.send-btn {
    position: relative;
    align-self: flex-start;
    background: var(--primary);
    color: var(--white);
    min-width: 95px;
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    letter-spacing: 1.5px;
    transition-property: color, background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    z-index: 0;
}
.send-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--white);
    border-radius: 20px;
    transform: scale(0);
    transition: transform 0.4s ease;
}

.send-btn:hover {
    background: var(--white);
    color: var(--primary);
}

.send-btn:hover::after {
    transform: scale(1);
}

/* ========== end footer ========== */

/* ========== start scroll top button ========== */

.scroll-top-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
    text-align: center;
    color: var(--white);
    background: var(--primary);
    font-size: 25px;
    display: block;
}

/* ========== end scroll top button ========== */
