* {
    box-sizing: border-box;
}

:root {
    --heading-font: "PT Sans", sans-serif;
    --black: #000;
    --white: #fff;
    --primary: #b80257;
    --secondary: #783df0;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    line-height: 1.3;
    font-family: "Source Sans 3", sans-serif;
}

a {
    color: inherit;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.container {
    max-width: 100%;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 165px;
    height: 33px;
    object-fit: cover;
}

/* ========== start header wrapper ========== */

.header-wrapper {
    min-height: 496px;
    background-image: url(../img/bg-banner-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.header-wrapper .inner {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.header-content {
    flex-grow: 1;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 20px;
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}

.action-wrapper {
    display: flex;
    gap: 20px;
}

.action-btn {
    font-size: 2rem;
    color: var(--white);
}

h1.heading {
    font-size: 3.2rem;
}

.breadcrumb {
    display: flex;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: #fffc;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:hover {

    color: var(--secondary);
}

.breadcrumb li + li::before {
    content: "/";
    margin: 0 6px;
}

/* ========== end header wrapper ========== */

/*==========  start main ========== */

.main {
    margin-top: 110px;
}

.main .inner {
    display: flex;
    gap: 30px;
}

/* start sidebar */

.sidebar {
    width: 270px;
}

.search-form {
    display: flex;
}

.search-input {
    width: 168px;
    background: #eeeeee;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 10px;
}

.search-input::placeholder {
    font-style: italic;
}

.search-btn {
    display: block;
    padding: 0 20px;
    flex: 1;
    color: var(--white);
    background: var(--primary);
}

.menu-title {
    margin-top: 60px;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.8)
}

.menu-list {
    margin-top: 30px;
}

.categories a {
    display: flex;
    align-items: center;
    height: 38px;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgba(36, 34, 34, 0.7);
}

.menu-list a:hover {
    color: var(--primary);
}

.popular-products-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popular-product-item {
    display: flex;
    gap: 20px;
}

.popular-product-item img  {
    display: block;
    width: 100px;
    height: 75px;
    object-fit: cover;
}

.popular-product-item .info {
    flex: 1;
}

.popular-product-item a {
    display: block;
    margin: 13px 0;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: #242222;
}

.info p {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    font-family: var(--heading-font);
}

/* end sidebar */

.main-content {
    flex: 1;
}

/* start filter */

.filter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-filter {
    width: 200px;
    height: 45px;
    border: 1px solid #ececec;
    border-radius: 0;
    color: #6f6f6f;
    padding-left: 15px;
}

.filter-result {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.7);
}

/* end filter */

/* start products list */

.products-list {
    --columns: 3;
    --gap: 30px;
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.product-item {
    width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
    display: flex;
    flex-direction: column;
}

.thumb-wrapper {
    display: block;
    aspect-ratio: 18 / 17;
}

.product-thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    border: 1px solid #f0f0f3;
    padding: 32px 0 35px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    font-size: 1.8rem;
    color: #242222;
}

.product-name a {
    text-decoration: none;
}

.product-price {
    margin: 12px 0 15px;
    font-size: 1.8rem;
    font-family: var(--heading-font);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.buy-btn {
    background-color: var(--primary);
    font-weight: 600;
    color: var(--white);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    min-width: 130px;
    text-align: center;
    text-decoration: none;
    margin-top: auto;
}

/* end products list */
/* start products pagination */

.product-pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.product-pagination a {
    display: block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--white);
    background: var(--primary);
    border: var(--primary);
    margin: 0 4px;
    padding: 0 4px;
    text-align: center;
}

.product-pagination a:hover {
    background: var(--secondary);
}

.product-pagination li:last-child a {
    margin-left: 12px;
    font-size: 1.2rem;
}
/* end products pagination */

/* ========== end main ========== */

/* ========== start footer ========== */

.footer {
    margin-top: 100px;
    background: #151515;
    padding: 80px 0 160px 0;
    color: rgba(255, 255, 255, 0.6);
}

.footer .inner {
    display: flex;
    gap: 30px;
}

.column-w270 {
    width: 270px;
}

.footer-logo  {
    font-size: 1.4rem;
    line-height: 1.6;
}

.footer-logo .footer-desc {
    margin: 20px 0;
}

.footer-logo ul {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo ul img {
    display: block;
    width: 118px;
    height: 38px;
    object-fit: cover;
    border-radius: 5px;
}

.footer h4 {
    font-size: 2rem;
    margin: 8px 0 25px;
    color: var(--white);
}

.footer-list-wrapper {
    flex-grow: 1;
    display: flex;
    gap: 30px;
}

.footer-list {
    flex: 1;
}

.footer-list a {
    display: flex;
    align-items: center;
    height: 30px;
    text-decoration: none;
}

.footer-list a:hover {
    color: var(--primary);
}


.send-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.send-input {
    border-radius: 20px;
    background: #272727;
    height: 40px;
    border: none;
    outline: none;
    padding: 20px;
}

.send-btn {
    align-self: flex-start;
    background: var(--primary);
    color: var(--white);
    min-width: 95px;
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    letter-spacing: 1.5px;
}

.send-btn:hover {
    background: var(--white);
    color: var(--primary);
}

/* ========== end footer ========== */


